.product-list {
    background-color: #fff;
    box-shadow: 0px 0px 5px 0px #ccc;
    border-radius: 6px;
    padding: 24px;
    width: 100%;
    max-height: 100%;
    overflow-y: auto;

    table {
        width: 100%;
        font-size: 1.6rem;
        font-weight: 500;

        thead {
            tr {
                height: 55px;
                border-bottom: 1px solid #ccc;

                th {
                    padding: 0 8px;
                }
            }
        }

        tbody {
            tr {
                height: 116px;
                padding: 16px 0;
                border-bottom: 1px solid #ccc;

                &:hover {
                    background-color: #f1f1f1;
                }

                td {
                    height: 84px;
                    padding: 0 8px;
                }

                .product-list-name {
                    width: 35%;
                    padding-right: 12px;
                }
            }
        }
    }
}

.product-list-img {
    img {
        height: 100%;
    }
}

.product-list-remove {
    text-align: center;

    button {
        background-color: transparent;
        padding: 8px 12px;
    }
}
