.App {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}

.App-container {
    margin-top: 80px;
    display: flex;
    width: 100%;
    flex: 1;
}

.App-container-main {
    flex: 1;
    overflow: auto;
    background-color: #eef7ff;
    padding: 24px;
    z-index: 0;
}
